<div class="row no-gutters mt-4">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label
                        for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab"
                        class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-space">
                        <div class="login">
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmitLF()">
                                <div class="group">
                                    <label for="user" class="label form-label">Email</label>
                                    <input id="user" type="text" class="input" placeholder="Enter your email"
                                        formControlName="email">
                                </div>
                                <div class="group">
                                    <label for="pass" class="label form-label">Password</label>
                                    <input id="pass" type="password" class="input" data-type="password"
                                        placeholder="Enter your password" formControlName="password">
                                </div>
                                <div class="group">
                                    <button type="submit" class="button" value="Sign In"></button>
                                </div>
                                <div class="foot">
                                    <a href="#">Forgot Password? TODO</a>
                                </div>
                                <div class="group">
                                    <div *ngIf="lf['email'].errors" class="invalid-feedback">
                                        <div *ngIf="lf['email'].errors['required']">Email is required </div>
                                        <div *ngIf="lf['email'].errors['email']">Email is invalid </div>
                                    </div>
                                    <div *ngIf="lf['password'].errors" class="invalid-feedback">
                                        <div *ngIf="lf['password'].errors['required']">Password is required </div>
                                        <div *ngIf="lf['password'].errors['minlength']"> Password must be at least 6
                                            characters </div>
                                        <div *ngIf="lf['password'].errors['maxlength']"> Username must not exceed 40
                                            characters </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="sign-up-form">
                            <div class="group">
                                <label for="user" class="label form-label">Name</label>
                                <input id="user" type="text" class="input" placeholder="Enter your name">
                            </div>
                            <div class="group">
                                <label for="user" class="label form-label">Surname</label>
                                <input id="user" type="text" class="input" placeholder="Enter your surname">
                            </div>
                            <div class="group"> <label for="pass" class="label form-label">Password</label>
                                <input id="pass" type="password" class="input" data-type="password"
                                    placeholder="Create your password">
                            </div>
                            <div class="group">
                                <label for="pass" class="label form-label">Repeat Password</label>
                                <input id="pass" type="password" class="input" data-type="password"
                                    placeholder="Repeat your password">
                            </div>
                            <div class="group">
                                <label for="pass" class="label form-label">Email Address</label>
                                <input id="pass" type="text" class="input" placeholder="Enter your email address">
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="Sign Up">
                            </div>
                            <div class="foot">
                                <label for="tab-1">Already Member?</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>